{% extends 'base/app.twig' %}

{% block content %}
    <header class="page-hero container mx-auto">
        {% if post.get_field('hero_img_mobile') or post.get_field('hero_img_desktop') %}
            <a href="{{ post.get_field('hero_img_url') }}">
                <picture>
                    {% if post.get_field('hero_img_mobile') %}
                        <source srcset="{{ Image(post.get_field('hero_img_mobile')).src }}" media="(max-width: 599px)" />
                    {% endif %}

                    {% if post.get_field('hero_img_desktop') %}
                        <img src="{{ Image(post.get_field('hero_img_desktop')).src }}" />
                    {% endif %}
                </picture>
            </a>
        {% endif %}
    </header>

    <nav class="container mx-auto category-listing">
        <a class="category-item" href="{{ get_store_url('rood') }}">
            Rood
            <img src="{{ theme.link }}/dist/images/arrow.svg" loading="lazy" />
        </a>
        <a class="category-item" href="{{ get_store_url('wit') }}">
            Wit
            <img src="{{ theme.link }}/dist/images/arrow.svg" loading="lazy" />
        </a>
        <a class="category-item" href="{{ get_store_url('rose') }}">
            Rosé
            <img src="{{ theme.link }}/dist/images/arrow.svg" loading="lazy" />
        </a>
        <a class="category-item" href="{{ get_store_url('mousserend') }}">
            Mousserend
            <img src="{{ theme.link }}/dist/images/arrow.svg" loading="lazy" />
        </a>
        <a class="category-item" href="{{ get_store_url('dessert') }}">
            Dessert
            <img src="{{ theme.link }}/dist/images/arrow.svg" loading="lazy" />
        </a>
    </nav>

    <div>
        {{ post.content }}
    </div>
{% endblock %}
