{% from "macro/search_form.twig" import search_form %}
{% from "macro/typography/links.macro.twig" import nav_item %}

<!-- Header topper -->
<header class="header" role="banner">
    <div class="container mx-auto">
        {% set _logo = Image(theme.theme_mod('custom_logo')) %}
        <a href="/" class="custom_logo_wrapper">
            <img src="{{ _logo.src|resize(350) }}" alt="{{ _logo.alt?? 'Logo ' ~ site.name }}" class="custom_logo" id="logo_{{ post.ID }}" />
        </a>

        {{ search_form(search_placeholder) }}

        <nav class="top-navigation" role="navigation">
            {% for item in topMenu.items %}
                {{ nav_item(item, [ 'top-nav-item' ]) }}
            {% endfor %}
        </nav>

        <a class="btn to-cart-button has-badge" data-amount="{{ wc_cart_count }}" href="{{ fn('wc_get_cart_url') }}">
            <i class="fas fa-shopping-cart mr-2"></i>
            <span class="not-mobile mr-2">
                {{ __('Wijnmandje') }}
            </span>
            <span class="badge top right black js-cart-amount" data-amount="{{ wc_cart_count }}">
                {{ wc_cart_count }}
            </span>
        </a>

        <button class="menu-button">
            <i class="fas fa-bars fa-2x"></i>
            Menu
        </button>
    </div>
</header>
