<!doctype html>
<html lang="{{ site.language }}">
<head>
    {% block meta %}
        <meta charset="{{ site.charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="base_assets" content="{{ theme.link }}/">
    {% endblock meta %}

    <title>{{ wp_title }}</title>

    <script src="https://kit.fontawesome.com/945889d7f9.js" async></script>

    <!-- start custom theme code -->
    <script>{{ theme.theme_mod('code_header_js')|raw }}</script>
    <style type="text/css">{{ theme.theme_mod('code_header_css')|raw }}</style>
    {{ theme.theme_mod('code_header_html')|raw }}
    <!-- end custom theme code -->

    {% block window_definitions %}
        <script>
			window['ajax_url'] = "{{ fn('admin_url', 'admin-ajax.php') }}"
			window['rest_url'] = "{{ fn('get_rest_url') }}"
			window['shopping_cart_url'] = "{{ get_cart_url() }}"
        </script>
    {% endblock %}

    {% block std %}{{ include('base/lib/std-website.part.twig') }}{% endblock %}
    {{ fn('wp_head') }}
</head>
<body {{ fn('body_class') }}>
{% do action('wijnen/html/body/pre') %}

{% do action('wijnen/html/body/header/pre') %}
{% block header_topper %}{% include 'base/lib/header-top.part.twig' %}{% endblock %}
{% block header_logobar %}{% include 'base/lib/header-nav.part.twig' %}{% endblock %}
{% do action('wijnen/html/body/header/post') %}

{% do action('wijnen/html/body/content/pre') %}
{% block content %}{{ post.content }}{% endblock %}
{% do action('wijnen/html/body/content/post') %}


{% do action('wijnen/html/body/footer/pre') %}
<footer role="group" class="footer">
    {% block footer_topper %}
    <div role="group" class="container content mx-auto my-4">
        {% do action('wijnen') %}
        {{ include('partials/layout/footer/small_seo.html.twig') }}

        <section role="complementary" class="content px-4 lg:px-0 seo_large" id="seo_large_{{ post.ID }}">
            {{ theme.theme_mod('seo_large')|wpautop }}
        </section>

        <section role="complementary" class="content px-4 lg:px-0">
            {{ include('partials/layout/form-mailchimp.html.twig')|apply_filters('wijnen/footer/banners/mailchimp') }}
        </section>
    </div>
    {% endblock %}

    <section class="bg-primary text-white py-6 px-4 lg:px-0">
        <div class="container mx-auto lg:flex">
            <div class="lg:w-1/3 content lg:flex">
                <h2 style="margin: auto 0;">Onze service</h2>
            </div>
            <div class="lg:w-1/3 content">
                <h3>Persoonlijk advies</h3>
                <p>
                    Neem <a href="{{ get_custom_page_url('contact') }}">contact</a> met ons op voor advies van onze wijnexpert.
                </p>
            </div>
            <div class="lg:w-1/3 content">
                <h3>Heb je ons nodig?</h3>
                <p>
                    Wij zijn op verschillende manieren te bereiken, zo kan je ons <a href="tel:{{ get_theme_option('store_phone') }}">bellen</a>
                    of <a href="mailto:{{ get_theme_option('store_email') }}">mailen</a>.
                </p>
            </div>
        </div>
    </section>

    <!-- Primary bar  -->
    <div class="py-6 px-4 lg:px-0">
        <div role="group" class="container mx-auto lg:flex">
            {{ include('partials/layout/footer/address.html.twig') }}
            {{ include('partials/layout/footer/navigation.html.twig') }}
            <aside role="complementary" class="nix-block lg:w-1/4">
                {{ include('partials/layout/footer/nix.html.twig') }}
                {{ include('partials/layout/footer/secure_pay.twig') }}
            </aside>
            <aside role="complementary" class="benefits-block lg:w-1/4">
                {{ include('partials/layout/footer/benefits-list.html.twig') }}
            </aside>
        </div>
    </div>
</footer>
{% do action('wijnen/html/body/footer/post') %}

<div class="widget_shopping_cart_content"></div>
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600&display=swap" rel="stylesheet">
{{ fn('wp_footer') }}
{% block preBodyClose %}{% endblock %}
</body>
</html>
