<article class="product-card-large">
    <a href="{{ kiyoh.kiyoh_url }}" class="product-large-image-wrapper" title="Beoordeel ons op Kiyoh">
        <img src="{{ theme.link }}/dist/images/kiyoh.png">
    </a>
    <h2 class="product-large-title">
        <a style="display: flex;flex-direction: column;justify-content: center;" href="{{ kiyoh.kiyoh_url }}" title="Beoordeel ons op Kiyoh">
            <span class="kiyoh-score">{{ kiyoh.total_score }}</span>
            <span class="block">
                {{ kiyoh.total_reviews }} Beoordelingen
            </span>
        </a>
    </h2>
    <div class="mt-2 text-center hidden lg:block">
        <strong>Dit zeggen onze klanten:</strong><br>
        {{ kiyoh.reviews.pro }}
    </div>
</article>
