{% set _image = Image(image) %}
<section class="bg-grey-products">
    <div class="container mx-auto products-large--image-container {{ image_right? 'image-right' : 'image-left' }}">
        <a class="products-image--image-wrapper" href="{{ link }}">
            <picture>
                <source srcset="{{ _image.src(size)|towebp }}" type="image/webp">
                <img data-lazy="{{ _image.src('large') }}"
                     src="#"
                     data-srcset="{{ _image.src|retina(4)}} 4x,
                                  {{ _image.src|retina(2) }} 2x,
                                  {{ _img.src }}"
                     alt="{{ _image.alt }}" class="products-image--image lazy-load-me">
            </picture>
            <span class="products-image--caption">
                {{ image_title }}
            </span>
        </a>

        <aside class="products-image--products-wrapper">
            <section class="products-image--products">
                {% for product in posts %}
                    {% include 'partials/tease/product-large-hor.html.twig' with { product: product } only %}
                {% endfor %}
            </section>
            <a class="products-large-cta text-white py-2" href="{{ link }}">
                {{ button_text }}
            </a>
        </aside>
    </div>
</section>
