{% set _name = product.get_name %}
{% set _permalink = product.get_permalink %}
{% from 'macro/add-to-cart.twig' import mini_add_to_cart %}
{% from 'macro/products/images.macro.twig' import tease_thumbnail %}
{% from 'macro/products/price.macro.twig' import tease_price %}

<article class="product-card-large">
    {% if is_wine_of_the_month(product.get_id) %}<span class="product-label">Wijn van de maand</span>{% endif %}

    <a href="{{ _permalink }}" class="product-large-image-wrapper" title="Bekijk {{ _name }}">
        {{ tease_thumbnail(product) }}
    </a>

    <h2 class="product-large-title">
        <a href="{{ _permalink }}" title="Bekijk {{ _name }}">
            {{ _name }}
        </a>
    </h2>

    <section class="product-origins lg:text-center">
        {% if product.get_attribute('pa_land') %}
            <span class="country">{{ product.get_attribute('pa_land')[0] }},</span>
        {% endif %}
        {% if product.get_attribute('pa_streek') %}
            <span class="region">{{ product.get_attribute('pa_streek')[0] }}</span>
        {% endif %}
    </section>
    {{ tease_price(product) }}
    <div class="product-add-to-cart w-full">
        {% if product.get_type is same as('variable') %}
            <a class="btn primary rounded large" href="{{ product.get_link }}">Bekijken</a>
        {% else %}
            {{ mini_add_to_cart(product) }}
        {% endif %}
    </div>
</article>
