{% from 'macro/typography/titles.macro.twig' import footer_heading_small %}
<address class="lg:w-1/4 addressInfo">
    {{ footer_heading_small('Contact') }}
    {% do action('winc/footer/address/pre') %}
    <p>Wijnclubamsterdam.nl</p>
    <p>{{ theme.theme_mod('address', 'Lauriergracht 54 BG <br> (afhalen op afspraak)')}}</p>
    <p>{{ theme.theme_mod('postalcode', '1016RL')}} {{ theme.theme_mod('city', 'Amsterdam')}}</p>
    <p><a href="tel:{{ theme.theme_mod('phone', '020 2440919') }}">{{ theme.theme_mod('phone', '020 2440919')}}</a></p>
    <p><a href="mailto:{{ theme.theme_mod('email', 'info@wijnclubamsterdam.nl') }}">{{ theme.theme_mod('email', 'info@wijnclubamsterdam.nl')}}</a></p>
    {% do action('winc/footer/address/post') %}
</address>
