{% from 'macro/typography/titles.macro.twig' import footer_heading %}
<div role="group" class="lg:flex seo_small px-4 lg:px-0 mb-4">
    <section class="lg:w-1/4 shortened-list">
        <button class="footer-list-button">
            {{ footer_heading(theme.theme_mod('shop_list_title', 'Onze wijnlanden')) }}
            <i class="fas fa-chevron-down"></i>
        </button>
        <section class="footer-list">
            {{ theme_option('footer_country_lists') }}
        </section>
    </section>
    <section class="lg:w-1/4 shortened-list">
        <button class="footer-list-button">
            {{ footer_heading(theme.theme_mod('domain_list_title', 'Onze wijnhuizen')) }}
            <i class="fas fa-chevron-down"></i>
        </button>
        <section class="footer-list">
            {% for post in get_cpt_list('producent') %}
                <a href="{{ post.link }}">{{ post.title }}</a>
            {% endfor %}
        </section>
    </section>
    <section class="lg:w-1/4 shortened-list">
        <button class="footer-list-button">
            {{ footer_heading(theme.theme_mod('grapes_list_title', 'Druiven')) }}
            <i class="fas fa-chevron-down"></i>
        </button>
        <section class="footer-list">
            {% for post in get_cpt_list('druif') %}
                <a href="{{ post.link }}">{{ post.title }}</a>
            {% endfor %}
        </section>
    </section>
    <section class="lg:w-1/4 shortened-list">
        <button class="footer-list-button">
            {{ footer_heading(theme.theme_mod('regions_list_titel', 'Al onze regio\'s')) }}
            <i class="fas fa-chevron-down"></i>
        </button>
        <section class="footer-list">
            {% for post in get_cpt_list('streek') %}
                <a href="{{ post.link }}">{{ post.title }}</a>
            {% endfor %}
        </section>
    </section>
</div>
