{% extends 'base/app.twig' %}

{% block content %}
    <div class="container mx-auto px-4 lg:px-0 py-4 content">
        {% do action('wijnen/archive/product/title/pre') %}
        <h1>{{ title|apply_filters('wijnen/archive/product/title') }}</h1>
        {% do action('wijnen/archive/product/title/post') %}
    </div>

    <div class="container mx-auto">
        {% do action('wijnen/archive/product/content/pre') %}
        <section class="lg:ml-auto lg:w-3/4 clearfix mt-4 px-4 lg:px-0">
            {% do action('woocommerce_before_shop_loop') %}
            <button class="js-filter-opener filter-opener mx-auto">
                Filter <i class="ml-2 fas fa-filter"></i>
            </button>
        </section>
        <div class="lg:ml-auto lg:w-3/4 clearfix px-4 lg:px-0">
            {{ theme.theme_mod('store_breadcrumbs_filter')|shortcodes }}
        </div>
        <div class="lg:flex">
            <div class="lg:w-1/4 lg:pr-4 js-filter-container filter-container">
                {{ theme.theme_mod('store_filter')|shortcodes }}
            </div>
            <div class="lg:w-3/4">
                <div class="products-large-store px-4 lg:px-0">
                    {% for product in products %}
                        {% include 'partials/tease/product-large.html.twig' with { product: product } only %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <section class="lg:ml-auto lg:w-3/4">
            {% do action('woocommerce_after_shop_loop') %}
        </section>
        {% do action('wijnen/archive/product/content/post') %}
    </div>

    {% if category and category.description %}
        <div class="container mx-auto mt-5 content">
            {{ category.description|wpautop }}
        </div>
    {% endif %}

    {% if country and country.description %}
        <div class="container mx-auto mt-5  mb-5 content">
            <h2>Over {{ country.name }}</h2>
            {{ country.description|excerpt(25) }}
            <a href="{{ country.link }}">Meer over {{ country.name }}</a>
        </div>
    {% endif %}
{% endblock %}
