{% extends 'base/app.twig' %}
{% from "macro/add-to-cart.twig" import add_to_cart %}
{% from "macro/std.macro.twig" import productSTD as std %}
{% from "macro/products/images.macro.twig" import product_image as thumbnail %}

{% block content %}
    {% do action('woocommerce_before_single_product') %}

    <main class="product container mx-auto px-4 lg:px-0">
        {% do action('wijnen/single/product/content/pre') %}

        {{ thumbnail(post)|apply_filters('wijnen/single/product/content/thumbnail', post) }}

        <h1 class="product-title">{{ post.get_title }}</h1>

        {% block attributes %}
            {% do action('wijnen/single/product/content/attributes/pre') %}
            {{ include('partials/woocommerce/product/attributes.html.twig') }}
            {% do action('wijnen/single/product/content/attributes/post') %}
        {% endblock %}

        <aside class="product_sidebar w-full p-4">
            <header class="product_sidebar--header">
                <span class="product-price">{{ post.get_price_html }}</span>

                <span class="product-favorite">
                    {{ fn('get_favorites_button', post.get_id, site.id) }}
                </span>
            </header>
            {% if post %}
                <div class="product-usp-stock stock-{{ post.get_stock_status }}">
                    {% if post.is_in_stock and not post.is_on_backorder %}
                        <span><i class="fas fa-check hidden lg:inline"></i></span>
                        {% if not product.get_stock_quantity %}
                            <span><i class="fas fa-check lg:hidden"></i> Op voorraad</span>
                        {% elseif product.get_stock_quantity > 18 %}
                            <span><i class="fas fa-check lg:hidden"></i> Op voorraad</span>
                        {% else %}
                            <span><i class="fas fa-check lg:hidden"></i> Nog {{ post.get_stock_quantity }} op voorraad.</span>
                        {% endif %}
                    {% elseif post.is_on_backorder %}
                        <span class="mr-2"><i class="fas fa-exclamation-triangle"></i></span>
                        <span>Nabestelling. Langere levertijd</span>
                    {% else %}
                        <span class="mr-2"><i class="fas fa-exclamation-triangle"></i></span>
                        <span>Niet op voorraad</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="my-4">
                {{ add_to_cart(post.get_id,[], 'quantity', 'small') }}
            </div>
            {{ include('partials/woocommerce/product/usp.html.twig', { product: post }) }}
        </aside>

        <section class="product-content">{{ post.content }}</section>
        {% do action('wijnen/single/product/content/post') %}
    </main>

    <section class="mt-4">
        <div class="container mx-auto">
            {% if variations %}
                <h4 class="text-xl px-4 lg:px-0">Alternatieven</h4>
            {% endif %}
            {% for variation in variations %}
                <section class="product-variations product-variations-{{ variation.name|title|lower }}">
                    <strong class="px-4 lg:px-0 product-variations-title product-variations-title-{{ variation.name|title|lower }}">
                        {{ variation.name }}
                    </strong>

                    <div class="product-variations-options product-variations-options-{{ variation.name|title|lower }}">
                        {% include 'partials/blocks/products.twig' with { posts: variation.products } only %}
                    </div>
                </section>
            {% endfor %}
        </div>
        <div class="container mx-auto">
            <h4 class="text-xl px-4 lg:px-0">Gerelateerde producten</h4>
        </div>
        {% include 'partials/blocks/products.twig' with { posts: related_products } only %}
    </section>

    {{ std(product, post) }}

{% endblock %}
