{% extends 'base/app.twig' %}
{% from "macro/add-to-cart.twig" import add_to_cart %}
{% from "macro/std.macro.twig" import productSTD as std %}
{% from "macro/products/images.macro.twig" import product_image as thumbnail %}

{% block content %}
    {% do action('woocommerce_before_single_product') %}

    <main class="product container mx-auto px-4 lg:px-0">
        {% do action('wijnen/single/product/content/pre') %}

        {{ thumbnail(post) }}

        <h1 class="product-title">{{ post.title }}</h1>

        {{ include('partials/woocommerce/product/attributes.html.twig') }}

        <aside class="product_sidebar">
            <span class="product-price">
                {{ post.get_price_html }}
                <small class="product-price_small" hidden>per fles</small>
            </span>
            {% do fn('woocommerce_template_single_add_to_cart') %}
            {{ include('partials/woocommerce/product/usp.html.twig', { product: product }) }}
        </aside>

        <section class="product-content">{{ post.content }}</section>
        {% do action('wijnen/single/product/content/post') %}
    </main>

    <section class="mt-4">
        <div class="container mx-auto">
            {% if variations %}
                <h4 class="text-xl">Alternatieven</h4>
            {% endif %}
            {% for variation in variations %}
                <section class="product-variations product-variations-{{ variation.name|title|lower }}">
                    <strong class="product-variations-title product-variations-title-{{ variation.name|title|lower }}">
                        {{ variation.name }}
                    </strong>

                    <div class="product-variations-options product-variations-options-{{ variation.name|title|lower }}">
                        {% for product in variation.products %}
                            <article class="relative product-variations-variation product-variations-variation-{{ variation.name|title|lower }}">
                                <a href="{{ product.link }}" class="overlap-link" title="{{ product.name }}">
                                </a>
                                <picture>
                                    <img src="{{ product.thumbnail.src('thumbnail') }}"
                                         class="product-variations-variation-img product-variations-variation-img-{{ variation.name|title|lower }}"
                                         alt="Alternatief {{ product.name }}">
                                </picture>

                                <p class="overlay-caption">{{ product.name }}</p>
                            </article>
                        {% endfor %}
                        {% for product in variation.products %}
                            <article class="relative product-variations-variation product-variations-variation-{{ variation.name|title|lower }}">
                                <a href="{{ product.link }}" class="overlap-link" title="{{ product.name }}">
                                </a>
                                <picture>
                                    <img src="{{ product.thumbnail.src('thumbnail') }}"
                                         class="product-variations-variation-img product-variations-variation-img-{{ variation.name|title|lower }}"
                                         alt="Alternatief {{ product.name }}">
                                </picture>

                                <p class="overlay-caption">{{ product.name }}</p>
                            </article>
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>
        <div class="container mx-auto">
            <h4 class="text-xl">Gerelateerde producten</h4>
        </div>
        {% include 'partials/blocks/products.twig' with { posts: related_products } only %}
    </section>
    {{ std(product, post) }}

{% endblock %}

{% block preBodyClose %}
    <link rel="stylesheet" href="{{ theme.link }}/dist/vendor/owl-carousel/owl.carousel.min.css" />
    <script src="{{ theme.link }}/dist/vendor/owl-carousel/owl.carousel.min.js"></script>
    <style>
        @media screen and (max-width: 769px) {
            .owl-carousel {
                width: 380px;
            }
        }

        @media screen and (max-width: 415px) {
            .owl-carousel {
                width: 203px;
            }
        }

        @media screen and (max-width: 375px) {
            .owl-carousel {
                width: 183px;
            }
        }
    </style>
    <script>
        jQuery('.owl-carousel').owlCarousel({
            items: 1,
            dots: false,
            loop: true,
            autoplay: true
        });
    </script>
{% endblock %}
