{% macro add_to_cart(ID, classes, qty_id = 'quantity', size = 'large', max = false) %}

{% if size is same as('large') %}
    <section class="flex w-full justify-between pr-add-to-cart-wrapper">
        <span class="pr-add-to-cart-large"
              style="width: 100%;"
              data-product="{{ ID }}"
              data-label="Fles"
              data-outline="1"
              data-qty="1">
        </span>
    </section>

    <noscript>
        <form method="GET" class="{{ classes }}" data-action="add-to-cart" data-product="{{ ID }}" data-size="{{ size }}" enctype="multipart/form-data">
            <input
                    type="hidden"
                    name="quantity"
                    value="1"
                    min="1"
                    id="{{ qty_id }}"
                    {% if max %}max="{{ max }}"{% endif %}
            >
            <input type="hidden" name="product" id="product" value="{{ ID }}">

            <section class="flex">
                <button type="submit" class="btn primary rounded large">
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </section>

            <input type="hidden" name="product" id="product" value={{ ID }}>
        </form>
    </noscript>
{% endif %}

{% if size is same as('small') %}
    <section class="flex w-full justify-between pr-add-to-cart-wrapper">
        <span class="pr-add-to-cart"
              data-product="{{ ID }}"
              data-label=""
              data-outline="1"
              data-qty="1">
        </span>
    </section>

    <noscript>
        <form method="GET" class="{{ classes }}" data-action="add-to-cart" data-product="{{ ID }}" data-size="{{ size }}" enctype="multipart/form-data">
            <input
                    type="hidden"
                    name="quantity"
                    value="1"
                    min="1"
                    id="{{ qty_id }}"
                    {% if max %}max="{{ max }}"{% endif %}
            >
            <input type="hidden" name="product" id="product" value="{{ ID }}">

            <section class="flex">
                <button type="submit" class="btn primary rounded large">
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </section>

            <input type="hidden" name="product" id="product" value={{ ID }}>
        </form>
    </noscript>
{% endif %}

{% endmacro %}

{% macro mini_add_to_cart(product) %}
    <section class="flex w-full justify-between">
        <span class="pr-add-to-cart"
              data-product="{{ product.get_id }}"
              data-label=""
              data-outline="1"
              data-qty="1">
        </span>
    </section>

    <noscript>
        <form method="GET" class="mx-auto product-large-add-to-cart"
              data-action="add-to-cart"
              data-product="{{ product.get_id }}" enctype="multipart/form-data">
            <input
                    type="hidden"
                    name="quantity"
                    value="1"
                    min="1"
                    id="qty_{{ product.get_id }}"
            >
            <input type="hidden" name="product" id="product" value="{{ product.get_id }}">

            <section class="flex">
                <button type="submit" class="btn primary rounded large">
                    <i class="fas fa-shopping-cart">
                    </i>
                </button>
            </section>

            <input type="hidden" name="product" id="product" value={{ product.get_id }}>
        </form>
    </noscript>
{% endmacro %}
