<table class="product-usp hidden lg:block">
    <tr hidden>
        <th><i class="fas fa-store-alt"></i></th>
        <td>{{ theme.theme_mod('more_shops', 'Bestellen bij meerdere webshops') }}</td>
    </tr>

    <tr>
        <th><i class="fas fa-truck"></i></th>
        <td>{{ theme.theme_mod('shipping_fee', 'Gratis verzending vanaf € 60,-') }}</td>
    </tr>

    <tr>
        <th><i class="fas fa-dolly"></i></th>
        <td>
            {% if (product.is_in_stock or product.is_dropshipped) and not product.is_on_backorder %}
                <span data-days="{{ can_ship_today() ? product.get_shipping_days() : product.get_shipping_days(1) }}" class="pre-shipping-date-calc">
                    <noscript>
                        {{ theme.theme_mod('delivery_time', 'Voor 15:00 besteld, dezelfde werkdag verzonden') }}
                    </noscript>
                </span>
            {% else %}
                {{ theme.theme_mod('delivery_time', 'Voor 15:00 besteld, dezelfde werkdag verzonden') }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <th><i class="fas fa-wine-bottle"></i></th>
        <td>
            Per fles te bestellen
        </td>
    </tr>

    <tr>
        <th><i class="fas fa-credit-card"></i></th>
        <td>Veilig betalen</td>
    </tr>
    <tr>
        <th><i class="fas fa-calendar-day"></i></th>
        <td>Kies zelf de dag van bezorging.</td>
    </tr>
</table>

<section class="lg:hidden carousel-wrapper">
    <div class="product-usp-carousel">
        <div>
            <i class="fas fa-truck"></i> {{ theme.theme_mod('shipping_fee', 'Gratis verzending vanaf € 60,-') }}
        </div>
        <div>
            <i class="fas fa-dolly"></i> {{ theme.theme_mod('delivary_time', 'Voor 15:00 besteld, dezelfde werkdag verzonden') }}
        </div>
        <div>
            <i class="fas fa-wine-bottle"></i> Per fles te bestellen
        </div>
        <div>
            <i class="fas fa-credit-card"></i> Veilig betalen
        </div>
        <div>
            <i class="fas fa-calendar-day"></i> Kies zelf de dag van bezorging
        </div>
    </div>
</section>
