{% from "macro/typography/links.macro.twig" import nav_item %}
<!-- Header topper -->
<header class="header" role="banner">
    <div class="container mx-auto flex items-center">
        <button class="menu-button">
            <i class="fas fa-bars fa-2x"></i>
            <small>Menu</small>
        </button>

        {{ include('base/lib/logo.part.twig') }}

        <aside class="header-usps">
            <span class="mr-2">
                <i class="fas fa-truck"></i> Gratis verzending vanaf €60 in NL en €100 in BE
            </span>
            <span>
                <i class="far fa-clock"></i> Voor 15:00 besteld, zelfde werkdag verzonden
            </span>
        </aside>

        <nav class="top-navigation" role="navigation">
            <a class="top-nav-item"
               href="{{ get_account_url() }}">
                <i class="fas fa-user"></i>
                <small class="block lg:inline">
                    Account
                </small>
            </a>

            <a class="top-nav-item pr-shopping-cart-button relative"
               data-initial-count="{{ wc_cart_count }}"
               href="{{ get_cart_url() }}">
            </a>

            <noscript>
                <a class="top-nav-item"
                   href="{{ get_cart_url() }}">
                    <i class="fas fa-shopping-cart"></i>
                    <small class="block lg:inline">
                        Wijnmandje
                    </small>
                </a>
            </noscript>

            <a class="top-nav-item pre-favorites-total relative" href="{{ get_custom_page_url('favorites') }}">
                <noscript>
                    <i class="fas fa-heart"></i>
                    <small class="block lg:inline">
                        Favorieten
                    </small>
                </noscript>
            </a>
        </nav>
    </div>
</header>
